body{
    font-family: 'Roboto', sans-serif;    
}

/* intro */

.intro{
    min-width: 100%;
    min-height: 100%;
    flex-shrink: 0;
    background: url(../img/обложка-сафари.jpg) center no-repeat;
    background-size: cover;
}

/* container */

.container{
    width: 100%;
    max-width: 1120px;
    margin: 0 auto;
}

/* header */

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0 15px;
}

.header__nav{
    display: flex;
    align-items: center;
}

.header__text{
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    line-height: 130%;
    margin-right: 19px;
    color: #fff;
}

.header__tel{
    font-weight: 400;
    padding: 12px 31px 13px;
    border-radius: 22px;
    background-color: #886239;
    color: #fff;
}

/* обложка */

.border{
    border: 1px solid #fff;
    opacity: 0.1;
}

.cover__ul{
    display: flex;
    justify-content: space-around;
}

.cover__nav{
    padding: 27px 0 24px;
}

.cover__list{
    font-weight: 400;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #fff;
}

.cover__border{
    border: 1px solid #fff;
}

.cover__h1{
    text-align: center;
    margin: 49px 0 400px;
}

.cover__title{
    font-family: 'PT Serif';
    font-style: normal;    
    font-weight: 700;
    font-size: 90px;
    line-height: 130%;
    color: #1F1E1E;
}

.cover__text{
    max-width: 422px;
}

.cover__p{
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    font-size: 20px;
}

.cover__btn{
    padding: 19px 54px 20px;
    border-radius: 30px;
    margin: 20px 0 19.5px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    background-color: #886239;
    color: #fff;
}

.cover__down{
    text-align: center;
    padding-bottom: 14.5px;
}

/* main */

/* страны */
.main__box{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    grid-gap:32px 33px;
    padding: 100px 20px;
}

@media (max-width: 1140px){
    .main__box{
        grid-template-columns: repeat(3,1fr);
        grid-auto-rows: auto;
    }
}

@media (max-width: 850px){
    .main__box{
        grid-template-columns: repeat(2,1fr);
        grid-auto-rows: auto;
    }
}


.main__box_img{
    max-width: max-content;
    border: 1px solid #D9D9DE;
}

.main__img{
    max-width: 100%;
}

.main_box_p{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    padding: 12px 0 19px 19px;
}

/* ------ */

/* основные направления */

.intro__directions {
    background: url(../img/panorama.png) center no-repeat;
    background-size: cover;
    min-width: 100%;
    min-height: 100%;
}

.main__directions{
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 130%;
    padding: 32px 0 52px;
    color: #fff;
}

.boxes__main__directions{
    display: grid;
    grid-template-columns: repeat(4 ,1fr);
    grid-gap: 74px 56px;
    padding-bottom: 51px;
}

.box__directions{
    max-width: 232px;
}

@media (max-width: 1140px){
    .boxes__main__directions{
        grid-template-columns: repeat(3,1fr);
        grid-auto-rows: auto;
    }
}

@media (max-width: 850px){
    .boxes__main__directions{
        grid-template-columns: repeat(2,1fr);
        grid-auto-rows: auto;
    }
}

.alips{
    border: 1px solid #fff;
    border-radius: 50%;
    width: 85px;
    height: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.direction__text{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    padding-top: 18px;
    color: #fff;
}

/* -------- */

/* популярное предложение */

.popular__h2{
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;    
    margin: 100px 0 40px;
}

.boxes__popular__offers{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4,1fr);
    grid-auto-rows: minmax(auto);
    grid-gap: 32px;
    margin-bottom: 64px;
}

.box__offers{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.box__offers:nth-child(1){
    background: url(../img/предложения/намибии.png) center no-repeat;
    background-size: cover;
    padding: 16px 0 19px 17px;
    width: 256px;
    height: 256px;
}
.box__offers:nth-child(2){
    background: url(../img/предложения/кения.png) center no-repeat;
    background-size: cover;
    padding: 16px 0 19px 24px;
    width: 256px;
    height: 256px;
}
.box__offers:nth-child(3){
    background: url(../img/предложения/парки.png) center no-repeat;
    background-size: cover;
    width: 544px;
    height: 544px;
    padding: 16px 165px 19px 29px ;
    grid-column: span 2;
    grid-row: span 2;
}
.box__offers:nth-child(4){
    background: url(../img/предложения/ботсваны.png) center no-repeat;
    background-size: cover;
    padding: 16px 0 19px 17px;
    width: 256px;
    height: 256px;
}

.box__offers:nth-child(5){
    background: url(../img/предложения/южн_африка.png) center no-repeat;
    background-size: cover;
    padding: 16px 0 19px 24px;
    width: 256px;
    height: 256px;
}
.box__offers:nth-child(6){
    background: url(../img/предложения/9_стран.png) center no-repeat;
    background-size: cover;
    padding: 0 0 37px 33px;
    width: 542px;
    height: 544px;
    grid-column: span 2;
    grid-row: span 2;
}
.box__offers:nth-child(7){
    background: url(../img/предложения/кейптаун.png) center no-repeat;
    background-size: cover;
    padding: 16px 0 19px 17px;
    width: 256px;
    height: 256px;
}
.box__offers:nth-child(8){
    background: url(../img/предложения/юар.png) center no-repeat;
    background-size: cover;
    padding: 16px 0 19px 24px;
    width: 256px;
    height: 256px;
}
.box__offers:nth-child(9){
    background: url(../img/предложения/зензибаре.png) center no-repeat;
    background-size: cover;
    padding: 16px 0 19px 17px;
    width: 256px;
    height: 256px;
}
.box__offers:nth-child(10){
    background: url(../img/предложения/виктория.png) center no-repeat;
    background-size: cover;
    padding: 16px 0 19px 24px;
    width: 256px;
    height: 256px;
}


.text__offers{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
    color: #fff;
    text-transform: uppercase;    
}

.text__offer{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #fff;
    margin: 15px 0;    
}
.text_of{
    max-width: 310px;
}

.text__Two_of{
    max-width: 425px;
}

.number__offers{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;
    color: #fff;    
}

.border__popular{
    background: #C4C4C4;
    border: 1px solid #D9D9DE;
}

/* -------- */

/* карта африки */

.africa__map{
    padding: 100px 0;
}

.afreice_map_h2{
    font-style: normal;
    text-align: center;
    padding-bottom: 46px;
    font-weight: 500;
    font-size: 36px;
    line-height: 130%;
}

.map{
    background-size: cover;
    min-height: 100%;
    min-width: 100%;
    background: center no-repeat;
}

.abaut_safari__box{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

.about__safari{
    margin-right: 20px;
}

.about_safari_tours{
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
}

.safari__text{
    font-style: normal;
    font-weight: 400;
    padding: 25px 0 34px;
    font-size: 18px;
    line-height: 140%;
    max-width: 448px;
}

.safari__a{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-decoration: underline;
    color: #C4C4C4;
}

.about__safari_content{
    background: url(../img/карта-африки/машина.png) center no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 640px;
    height: 400px;
}

/* --------- */

/* фотогаллерея */

.box__photo__gallery{
    background: #886239;
}

.photo__gallery{
    display: flex; 
    justify-content: space-between;
    padding: 49px 0 39px;
}

.photo__gallery_h2{
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 130%;
    color: #fff;    
}

.chapter{
    display: flex;
    align-items: center;
}

.chapter__a{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #fff;
    margin-right: 55px;
    text-decoration: underline;
}

.chapter__img{
    margin-right: 16px;
}

.boxes__photo__gallery{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 32px;
    padding-bottom: 106px;
}

/* ----- */

/* сафари тур */

.safari__tour__h2{
    font-style: normal;
    text-align: center;
    padding: 100px 0 77px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 36px;
    line-height: 130%;
}

.boxes__safari__tour{
    display: flex;
    padding-bottom: 65px;
}

.box_one__safary{
    max-width: 579px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.box_two__safary{
    max-width: 541px;
}

.box__right{
    padding-right: 46px;
}

.safary__tour__text{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
}

.bold__text__safary{
    text-transform: uppercase;
    font-weight: bold;
}

.border__safary__tour{
    border: 1px solid #D9D9DE;
    background: #C4C4C4;
}

.boxes__number__safary{
    display: grid;
    text-align: center;
    grid-template-columns: repeat(5,auto);
    padding: 44px 0 100px;
}

.number__safary{
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 700;
    font-size: 58px;
    line-height: 130%;
    color: #886239;    
}

.text__num_safary{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 130%;    
}

/* ------- */

/* бронирование */

.booking{
    background: #EAEAEA;
}

.booking__container{
    max-width: 832px;
    margin: 0 auto;
    padding: 75px 0 76px;
    width: 100%;
}

.bookinh__h2{
    text-align: center;
    font-style: normal;
    padding-bottom: 43px;
    font-weight: 700;
    font-size: 36px;
    line-height: 130%;
}

.forms__booking{
    display: flex;
    justify-content: space-between;
}

.booking__form{
    border: 1px solid #D9D9DE;
    padding: 11px 0 12px 14px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    width: 256px;
    height: 44px;
}

.booking__texteria{
    width: 100%;
    height: 112px;
    border: 1px solid #D9D9DE;
    margin: 28px 0 67px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    padding: 14px 0 0 14px;
    resize: none;
}

.booking__texteria::-webkit-scrollbar{
    width: 0px;
}

.box__booking__{
    display: flex;
    justify-content: space-between;
}

.box__boking_two{
    display: inline-flex;
    align-items: center;
}

.boking__btn{
    text-align: center;
    background: #886239;
    border-radius: 30px;
    width: 297px;
    height: 60px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;    
    color: #fff;
}

.booking__p{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%; 
    text-decoration: underline;
    color: #1F1E1E;
}

.booring__chekbox{
    margin-right: 19px;
    width: 26px;
    height: 26px;
}
/* ------ */

/* footer */

.footer__container{
    width: 100%;
    max-width: 832px;
    margin: 0 auto;
}

.footer{
    background: #1F1E1E;
}

.footer__boxes{
    padding: 77px 0 81px;
}

.logo__center{
    display: flex;
    justify-content: center;
}

.footer__text_one{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
    color: #fff;    
    padding-bottom: 7px;
}

.footer__text__two{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: #fff;
    opacity: 0.8;    
}

.footer__a{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    text-decoration: underline;
    color: #fff;    
}

.footer__title{
    display: flex;
    justify-content: space-between;
    margin-top: 69px;
}

/* спасибо ,было интересно */ 